[submodule "shell/shmark"]
	path = shell/shmark
	url = https://github.com/charles-l/shmark
[submodule "shell/pk"]
	path = shell/pk
	url = https://github.com/charles-l/pk
[submodule "tmux/.tmux/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
